* {
  margin: 0;
  list-style: none;

  padding: 0;
}

.container {
  display: grid;

  grid-template-areas:
    "header header"
    "sidebar nav "
    "sidebar article"
    "footer footer";

  /* grid-template-rows: 20 ;  */
  grid-template-columns: 1fr 4fr;
  gap: 4px;

  text-align: center;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  display: grid;
  grid-template-columns: 1fr 4fr;

  align-items: center;

  grid-area: header;
  background-color: #393f4d;
}

.header > .logo {
  margin-right: 100px;
}

.menu ul {
  display: grid;

  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 25%);
  margin-left: 250px;
}
.menu li {
  font-size: 16px;
}

.sidebar {
  display: grid;
  gap: 50px;
  

  grid-area: sidebar;
  background-color: #c50208;
}

.sidebar .photo {

  display: grid;
  justify-content: center;
  align-items: center;
  
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}

.sidebar .side-content {
  
  display: grid;
  justify-content: center;
  align-items: center;
  
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
}

.nav {
  grid-area: nav;

  background-color: #c50208;
}

.nav ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  font-size: 16px;
  text-transform: uppercase;
}

.nav li {
  font-size: 16px;
}

.article {

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr))  ;
  grid-template-rows: 200px;

  gap:15px;
  grid-area: article;
  background-color: #bccbde;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  
  background-color: #ffffff;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  grid-area: footer;
  background-color: #393f4d;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}
